html {
    font-family: sans-serif;
}

body{
    font-size: 12px;
    background-color: rgb(221,221,211);
	min-height: 400px;
	padding-top: 90px;  
}

.username {
    font-size: 14px;
    font-family: 'Atlas Mono Regular';
}

.description {
    font-family: 'Atlas Sans Bold';
    font-size: 15px;
}

a {
    color: #333;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    text-decoration: underline;
}

.snippet_entry{
    padding: 7px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 25px;
    background-color: grey;
}

.snippet_content {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ffffff;
}

.snippet_code {/*
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2px;
    margin-right: 2px;*/
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0.5px solid #eee;
}

.snippet_info{
    background-color: #fff;
    margin-top: 25px;
    color: gray;
}

.container {
    background-color: white;
    width: 90%;
}

#code {
    font-family: monospace;
}

pre {
    font-family: sans-serif;
}

#content {
    background-color: #ccc;
}

#entry_border {
    border-radius: 28px 28px 28px 28px;
    -moz-border-radius: 28px 28px 28px 28px;
    -webkit-border-radius: 28px 28px 28px 28px;
    border: 2px dashed #666;
}

#content_border {
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border: 2px dashed #ddd;
}

.cont {
    width: 800px;
    margin: 0 auto 25px auto;
    background-color: white;
    border: 2px dashed;
    border-radius: 10px;
    padding: 35px;
}

.cont .view .user_img {
    border-radius: 10px;
    height:150px; 
    width:150px; 
    margin: auto;
    display: block;
}

.cont .view #user_name {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.cont .view table {
    margin-top: 20px;
    width: 100%;
}

.cont .view table th, .cont .view table td {
    padding: 30px 40px;
    text-align: center;
}

.cont .view table td {
    padding-left: 100px;
}

.cont .related {
    margin-top: 35px;
}

.cont .related table th, .cont .related table td {
    padding: 5px;
}

.cont .actions {
    margin-top: 35px;
}

.cont .actions table {
    width: 100%;
    text-align: center;
}

.cont .actions table td {
    width: 25%;
}

.cont .actions table a {
    margin: auto;
    width: 75%;
    display: block;
}

.cont .form .input {
    margin-bottom: 20px;
}


.cont .form label {
    display: block;
}

.cont .form textarea {
    width: 100%;
    resize: none;
}
/* menu */
.am-top-header .navbar-collapse .mn_img li.dropdown a img {
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
	vertical-align: middle;
}
.am-top-header .navbar-collapse .mn_img li.dropdown .dropdown-menu:after {
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -8px;
    content: "";
    display: inline-block;
    left: 42px;
    margin-left: -6px;
    position: absolute;
}
.am-top-header .navbar-collapse .mn_img li.dropdown .dropdown-menu li a {
    font-size: 14px;
    font-weight: 300;
    color: #504e4e;
    padding: 10px 20px;
    min-width: 175px;
}
.dropdown-menu li a {
    font-weight: 300;
    color: #504e4e;
    padding: 9px 20px;
}
.dropdown-menu i a {
    display: block;
}
.btn, .dropdown-header, .dropdown-menu li a {
    line-height: 1.42857143;
    white-space: nowrap;
}
nav.navbar .navbar-collapse .mn_search .navbar-form .text {
    display: inline-block;
}
/* menu_end*/

/*Add snippet toggle*/
.add-snippet .toggle-snippet {
    top: 60px;
    font-size: 18px;
    line-height: 55px;
    text-align: center;
    background-color: #222;
    cursor: pointer;
    left: -58px;
    width: 58px;
    height: 60px;
    position: absolute;
    border-radius: 18px 0 0 70px;
}
.add-snippet {
    position: fixed;
    top: 125px;
    right: 350px;
    z-index: 99999999;
    background-color: #222;
    color: #fff;
    padding: 20px;
    width: 350px;
    border-radius: 3px 0 0 3px;
}
/* End add snippet toggle*/

/*
** Font faces
*/
@font-face {
    font-family: 'Atlas Sans Regular';
    src: url("../font/atlas/AtlasGroteskWebRegular.ttf");
}

@font-face {
    font-family: 'Atlas Sans Black';
    src: url("../font/atlas/AtlasGroteskWebBlack.ttf");
}

@font-face {
    font-family: 'Atlas Sans Bold';
    src: url("../font/atlas/AtlasGroteskWebBold.ttf");
}

@font-face {
    font-family: 'Atlas Mono Black';
    src: url("../font/atlas/AtlasTypewriterWebBlack.ttf");
}

@font-face {
    font-family: 'Atlas Mono Regular';
    src: url("../font/atlas/AtlasTypewriterWebRegular.ttf");
}
